@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;500;700;800;900&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$accent-color: #361dc6;
$main: #3a9eff;
$border-radius: 16px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif !important;
  font-size: 1.2rem !important;
  color: #fff;
  white-space: nowrap;
}

h1 {
  font-weight: 700;
}

.row {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  gap: 0.5rem;

  p {
    margin-bottom: 0;
  }

  margin-bottom: 1rem;
}

%column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

%row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

%glass {
  background: rgba(255, 255, 255, 0.16);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(255, 255, 255, 0.22);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.4);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.4);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.4);
}
